body {
    background-color: #333;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}




/* FORM AREA CONTENT */



form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    text-align: center;
    color: #333;
    font-weight: bold;
}



/* FORM AREA CONTENT */





/* INPUT FIELD VALUES */





label {
    color: black;
    display: inline-block;
    width: 150px; /* Adjust the width as needed */
    vertical-align: top; /* Align the label to the top of the input */
    margin-right: 10px; /* Add some spacing between label and input */
}

#gender {
    color: black;
    width: fit-content;
}

input[type="text"],
select,
textarea,
input[type="file"] {
    width: calc(100% - 180px); /* Adjust the width as needed */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: inline-block;
}

select {
    padding: 8px;
}



/* INPUT FIELD VALUES */




/* BUTTON VALUES */



input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #555;
}



/* BUTTON VALUES */




/* FOOTER VALUES */

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* FOOTER VALUES */



/* WARNING LINE VALUES */


.warning-line {
    color: red;
    width: 100%;
    height: 25px;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    animation: moveWarning 35s linear infinite;
}

@keyframes moveWarning {
    100% {
        left: -80%;
    }
    0% {
        left: 100%;
    }
}


/* WARNING LINE VALUES */
